langchain 
langgraph 
langchain-community 
langchain-openai
langchain-groq
langchain-google-genai
ipykernel
langchain-tavily
langgraph
transformers
torch
Huggingface
langchain-huggingface
langchain-community
sentence-transformers
langchain-ollama
pydantic
langchain-core
fastapi
uvicorn
python-multipart
python-dotenv
litellm
datetime
pymupdf 
typing 
